<div class="container-xxl bg-white p-0">
 

    <!-- Header Start -->
    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div class="col-lg-3 bg-dark d-none d-lg-block">
                <a  class="navbar-brand w-100 h-100 m-0 p-0 d-flex align-items-center justify-content-center">
                    <img style="width: 90px; height: 60px;" src="assets/img/inn.jpg" alt="">
                    
                </a>
            </div>
            <div class="col-lg-9">
                <div class="row gx-0 bg-white d-none d-lg-flex">
                    <div class="col-lg-7 px-5 text-start">
                        <div class="h-100 d-inline-flex align-items-center py-2 me-4">
                            <i class="fa fa-envelope text-primary me-2"></i>
                            <p class="mb-0">info@inconrealty.com</p>
                        </div>
                        <div class="h-100 d-inline-flex align-items-center py-2">
                            <i class="fa fa-phone-alt text-primary me-2"></i>
                            <p class="mb-0">+234 903 640 5337</p>
                        </div>
                    </div>
                    <div class="col-lg-5 px-5 text-end">
                        <div class="d-inline-flex align-items-center py-2">
                            <a class="me-3" ><i class="fab fa-facebook-f"></i></a>
                            <a class="me-3" ><i class="fab fa-twitter"></i></a>
                            <a class="me-3" ><i class="fab fa-linkedin-in"></i></a>
                            <a class="me-3" ><i class="fab fa-instagram"></i></a>
                            <a class=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <nav class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
                    <a  class="navbar-brand d-block d-lg-none">
                        <img style="width: 90px; height: 60px;" src="assets/img/inn.jpg" alt="">
                    </a>
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav mr-auto py-0">
                            <a  class="nav-item nav-link active" routerLink="/home">Home</a>
                            <a  class="nav-item nav-link" >Services</a>
                            <a  class="nav-item nav-link" routerLink="/properties">Properties</a>
                            <a  class="nav-item nav-link" routerLink="/about">About</a>
                          
  <!-- Dropdown for Gallery -->
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="galleryDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Gallery
    </a>
    <ul class="dropdown-menu" aria-labelledby="galleryDropdown">
        <li><a class="dropdown-item" routerLink="/flyers">Flyers</a></li>
        <li><a class="dropdown-item" routerLink="/pictures">Pictures</a></li>
    </ul>
</div>
                            
                            <a  class="nav-item nav-link" routerLink="/contact">Contact</a>
                        </div>
                       
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header End -->
  
  
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
      

    <div style="margin-left: 30px;" class="col-md-6 col-lg-4">
        <!-- Wrap the image with an anchor tag for downloading -->
        <a href="assets/img/under C.jpeg" download="image.jpeg">
            <img class="hover-animate" style="width: 300px; height: 200px;" src="assets/img/under C.jpeg" alt="Downloadable Image">
        </a>
    </div>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  
    
    
  
      <!-- Footer Start -->
      <div style="margin-top: 10px;" class="container-fluid bg-dark text-light footer wow fadeIn" data-wow-delay="0.1s">
        <div class="container pb-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-4">
                    
                   <img style="width: 300px; height: 200px;" src="assets/img/inn.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-3">
                    <h6 class="section-title text-start text-primary text-uppercase mb-4">Contact</h6>
                    <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Charlet A3 Princess Lilian, Margaret Health Farm, Isheri Oshun Lagos</p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+234 903 640 5337</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@inconrealty.com</p>
                    <div class="d-flex pt-2">
                        <a class="btn btn-outline-light btn-social"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-outline-light btn-social"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-outline-light btn-social"><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-outline-light btn-social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12">
                    <div class="row gy-5 g-4">
                        <div class="col-md-6">
                            <h6 class="section-title text-start text-primary text-uppercase mb-4">Company</h6>
                            <a class="btn btn-link">About Us</a>
                            <a class="btn btn-link">Contact Us</a>
                            <a class="btn btn-link">Privacy Policy</a>
                            <a class="btn btn-link">Terms & Condition</a>
                            <a class="btn btn-link">Support</a>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#"><b>INCONREALTY</b></a>,  
                        
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a class="border-bottom" href="https://www.instagram.com/shola3phics/?hl=en"><b>SHOLA3PHICS</b></a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a >Home</a>
                            <a >Cookies</a>
                            <a >Help</a>
                            <a>FQAs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
  
  
   
  </div>
